<footer
  class="bg-pinkDarker text-white p-5 flex flex-col md:flex-row items-center text-center md:text-start md:items-start pt-5 md:pt-20 md:h-[300px] justify-around"
>
  <img
    src="../../../assets/logo.jpeg"
    alt="logo la Kochina"
    class="w-[100px] rounded-lg cursor-pointer"
    (click)="onHome()"
  />
  <div class="md:w-[30%]">
    <h4 class="uppercase anton text-xl text-bone mb-1 md:mb-3 mt-4 md:mt-0">Give us a visit</h4>
    <p class="text-lg text-bone underline">
      <a href="https://maps.app.goo.gl/PEo1aHcrhJUhhC858" target="_blank">
      Circle C Farmers Market located at 7817 Lacrosse Ave. Austin, TX
    </a>
    </p>
    <p class="text-lg text-bone">Friday’s from 3 to 6 pm</p>
  </div>
  <div>
    <h4 class="uppercase anton text-xl text-bone mb-1 md:mb-3 mt-4 md:mt-0">For Inquiries</h4>
    <p class="text-lg text-bone">mariamodonnell213&commat;gmail.com</p>
    <p class="text-lg text-bone">(512) 758-5296</p>
  </div>
  <div>
    <h4 class="uppercase anton text-xl text-bone  mb-1 md:mb-3 mt-4 md:mt-0">Check Us Out</h4>
    <div class="flex md:flex-col ">
    <a href="https://www.facebook.com/people/La-Kochina/100083732247789/" target="_blank" class="mb-2 text-2xl mr-5 md:mr-0" > 
      <i class="fab fa-facebook-f" ></i>
    </a>
    <a href="https://www.instagram.com/lakochina512/" target="_blank" class="text-2xl" >
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  </div>
</footer>
