<div id="container">
  <div class="scroll" id="scroll-one">
    <div class="scrolling-banner flex uppercase text-xl tracking-widest">
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita by the lb." }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita by the lb." }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
    </div>
  </div>
  <div class="scroll" id="scroll-two">
    <div class="scrolling-banner flex uppercase text-xl tracking-widest">
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita by the lb." }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
      <div class="banner-item px-8 py-2">
        {{ infoBanner ? infoBanner[0] : "Cochinita by the lb." }}
        <i class="fas fa-pepper-hot px-8"></i>
      </div>
    </div>
  </div>
  <div class="fade"></div>
</div>
