// @keyframes marquee {
//     0% {
//       transform: translateX(10%);
//     }
//     100% {
//       transform: translateX(-100%);
//     }
//   }

//   /* Apply the animation to the scrolling banner */
//   .animated-marquee {
//     animation: marquee 15s linear infinite; /* Adjust the duration as needed */
//   }

//   /* Add your own styling for each banner item */
//   .banner-item {
//     flex-shrink: 0;
//     padding: 20px;
//     width: 20%;
//   }

#container {
  width: 100%;
  height: 5.5rem;
  font-family: Montserrat;
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  background: #000;
  color: #fff;
}
#container .scroll {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  white-space: nowrap;
  animation: loop 60s linear infinite;
}
.fade {
  width: 100%;
  position: absolute;
  background: linear-gradient(
    90deg,
    #000,
    transparent 30%,
    transparent 90%,
    #000
  );
  inset: 0;
  pointer-events: none;
}
@keyframes loop {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-200%);
  }
}

#container .scroll#scroll-two {
  transform: translateX(100%);
  // animation-delay: 1s;
}

@media screen and (max-width: 720px) {
  @keyframes loop {
    0% {
      transform: translateX(40%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  #container .scroll {
    animation: loop 30s linear infinite;
  }
}
