<!-- <div class="banner-container overflow-hidden bg-white">
  <div
    class="scrolling-banner flex animated-marquee uppercase text-pinkMain text-2xl w-[150%]"
  >
    <div class="banner-item p-4 text-montserrat">
      Cochinita Pibil
      <i class="fas fa-pepper-hot pl-[95px]" style="color: #78344e"></i>
    </div>
    <div class="banner-item p-4 text-montserrat">
      Chicharron <i class="fas fa-pepper-hot pl-[95px]" style="color: #78344e"></i>
    </div>

    <div class="banner-item p-4 text-montserrat">
      Rajas con Queso
      <i class="fas fa-pepper-hot pl-[95px]" style="color: #78344e"></i>
    </div>
    <div class="banner-item p-4 text-montserrat">
      Mexican Street Corn
    </div>
  </div>
</div> -->

<div id="container">
  <div class="scroll" id="scroll-one">
    <div
      class="scrolling-banner flex animated-marquee uppercase text-pinkMain text-2xl w-[150%]"
    >
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>

      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Mexican Street Corn" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>

      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Mexican Street Corn" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
    </div>
  </div>
  <div class="scroll" id="scroll-two">
    <div
      class="scrolling-banner flex animated-marquee uppercase text-pinkMain text-2xl w-[150%]"
    >
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>

      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Mexican Street Corn" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Cochinita Pibil" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Chicharron" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>

      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Rajas con Queso" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
      <div class="banner-item p-4 text-montserrat">
        {{ infoBanner ? infoBanner[0] : "Mexican Street Corn" }}
        <i class="fas fa-pepper-hot pl-20 pr-[50px]" style="color: #e33020"></i>
      </div>
    </div>
  </div>
  <div class="fade"></div>
</div>
