<app-header class="hidden md:block"></app-header>
<app-header-mobile class="md:hidden"></app-header-mobile>
<section class="h-[15vh] bg-pinkDarker"></section>
<section class="md:h-screen w-full bg-bone flex flex-col md:flex-row  items-center">
  <div
    class="md:w-6/12 flex flex-col bg-bone h-full justify-start items-start relative"
  >
    <div
      class="absolute z-40 -translate-x-2/4 -translate-x-1/2 top-[10%] left-2/4 text-center"
    >
    <p class="montserrat uppercase text-bone">Using pork from</p>
      <h2 class="uppercase anton text-pinkMain text-4xl md:text-6xl mb-2">
        Feathered Fork Farms
      </h2>
    </div>
    <!-- <div
      class="absolute z-50 -translate-x-2/4 -translate-x-1/2 top-[80%] left-2/4 text-center"
    >
      <p class="uppercase montserrat text-bone">
        Discounts % for parties 60 or more
      </p>
    </div> -->
       <img
      class="h-full w-full object-cover brightness-50"
      src="../../../assets/TacosMany.jpeg"
      alt=""
    />
  <!-- <app-image-grid></app-image-grid> -->
  </div>
  <div class="md:w-6/12 flex flex-col bg-bone h-full justify-center items-center">
    <h2 class="anton text-pinkDarker text-6xl mt-10 md:mt-0">Our Menu</h2>
    <div class="flex flex-col w-full items-center text-center md:text-start mt-10">
      <ul class="montserrat text-align">
        <span class="flex justify-between py-2">
        <li>Cochinita taco, pickled onions</li>
        <span class="pl-2">................$5</span>
    </span>
    <span class="flex justify-between py-2">
        <li>Rajas con Queso Taco(V) </li>
        <span class="pl-2">................$4</span>
    </span>
    <span class="flex justify-between py-2">
        <li>Tacos with cheese crust </li>
        <span class="pl-2">................$6</span>
    </span>
    <span class="flex justify-between py-2">
        <li>Rice plate with pork and rajas </li>
        <span class="pl-2">................$8</span>
    </span>
    <span class="flex justify-between py-2">
        <li>Cochinita by the lb.</li>
        <span class="pl-2">................$25</span>
    </span>
    <span class="flex justify-between py-2">
        <li>Cochinita meal by the lb.</li>
        <span class="pl-2">................$35</span>
    </span>
      </ul>
    </div>
  </div>
</section>
<section class="md:h-screen w-full bg-bone flex flex-col md:flex-row items-center">
  <div class="md:w-6/12 flex flex-col bg-bone h-full justify-center items-center">
    <h2 class="anton text-pinkDarker text-center md:text-start mt-10 md:mt-0 text-6xl">Catering Service</h2>
    <div class="flex flex-col w-full items-center text-center mt-10 mb-10 md:mb-10">
      <ul class="montserrat">
        <li class="uppercase anton text-lg my-2 text-pinkMain">entrée</li>
        <li>Cochinita Pibil - Green salsa and pickled onion</li>
        <li>Chicharron - Chipotle salsa and cilantro with onion</li>
        <li>Rajas con Queso - Veggie</li>
      </ul>
      <ul class="montserrat">
        <li class="uppercase anton text-lg my-2 text-pinkMain">Side Dishes</li>
        <li>Rice</li>
        <li>Beans</li>
        <li>Guacamole</li>
      </ul>
      <ul class="montserrat">
        <li class="uppercase anton text-lg my-2 text-pinkMain">
          Dessert (Pick One)
        </li>
        <li>Cookies</li>
        <li>Chocoflan</li>
        <li>Tres Leches</li>
      </ul>
      <ul class="montserrat">
        <li class="uppercase anton text-lg my-2 text-pinkMain">
          Service Includes
        </li>
        <li>Tortillas</li>
        <li>cutlery</li>
        <li>Plates</li>
        <li>Set up and Clean up</li>
      </ul>
    </div>
  </div>
  <div
    class="md:w-6/12 flex flex-col bg-bone h-full justify-start items-start relative"
  >
    <div
      class="absolute z-50 -translate-x-2/4 -translate-x-1/2 top-[10%] left-2/4 text-center"
    >
      <h2 class="uppercase anton text-pinkMain text-4xl md:text-6xl mb-5">
        $20 dollars per person
      </h2>
      <p class="montserrat uppercase text-bone">(Mininum 30 people)</p>
    </div>
    <div
      class="absolute z-50 -translate-x-2/4 -translate-x-1/2 top-[80%] left-2/4 text-center"
    >
      <p class="uppercase montserrat text-bone">
        Discounts % for parties 60 or more
      </p>
    </div>
    <img
      class="h-full w-full object-cover brightness-50"
      src="../../../assets/catering.JPG"
      alt=""
    />
  </div>
</section>
<app-footer></app-footer>
